certifi==2018.10.15
chardet==3.0.4
Click==7.0
cloudinary==1.14.0
Flask==1.0.2
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mock==2.0.0
numpy==1.15.4
opencv-python==3.4.4.19
pbr==5.1.1
requests==2.20.1
six==1.11.0
urllib3==1.24.1
Werkzeug==0.14.1
